@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 81 29% 92%;
    --foreground: 224 71% 10%;
    --card: 81 29% 95%;
    --card-foreground: 224 71% 10%;
    --popover: 81 29% 95%;
    --popover-foreground: 224 71% 10%;
    --primary: 229 80% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 60% 70%;
    --secondary-foreground: 224 71% 10%;
    --muted: 81 20% 85%;
    --muted-foreground: 224 71% 25%;
    --accent: 30 80% 65%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 81 20% 80%;
    --input: 81 20% 80%;
    --ring: 229 80% 30%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #e3e8de;
  }
}
